<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app>

    <display-name>HelloWorld Application</display-name>
    <welcome-file-list>
        <welcome-file>front.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productController</servlet-name>
        <servlet-class>controller.ProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/allProducts.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>storeController</servlet-name>
        <servlet-class>controller.StoreController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>storeController</servlet-name>
        <url-pattern>/buyProduct.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>basketController</servlet-name>
        <servlet-class>controller.BasketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>basketController</servlet-name>
        <url-pattern>/basket.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>buyOrderController</servlet-name>
        <servlet-class>controller.BuyOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>buyOrderController</servlet-name>
        <url-pattern>/buyOrder.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listOrderController</servlet-name>
        <servlet-class>controller.ListOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listOrderController</servlet-name>
        <url-pattern>/allOrder.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registrationController</servlet-name>
        <servlet-class>controller.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationController</servlet-name>
        <url-pattern>/registration.html</url-pattern>
    </servlet-mapping>

      <filter>
           <filter-name>cookieFilter</filter-name>
           <filter-class>filter.CookieFilter</filter-class>
       </filter>
       <filter-mapping>
           <filter-name>cookieFilter</filter-name>
           <url-pattern>/*</url-pattern>
       </filter-mapping>
       <filter>
          <filter-name>sessionFilter</filter-name>
          <filter-class>filter.SessionFilter</filter-class>
      </filter>
      <filter-mapping>
          <filter-name>sessionFilter</filter-name>
          <url-pattern>/*</url-pattern>
      </filter-mapping>


      <filter>
          <filter-name>requestFilter</filter-name>
          <filter-class>filter.RequestInfoFilter</filter-class>
      </filter>
      <filter-mapping>
          <filter-name>requestFilter</filter-name>
          <url-pattern>/*</url-pattern>
      </filter-mapping>-->

    <filter>
        <filter-name>dataFilter</filter-name>
        <filter-class>filter.DataFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>dataFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/config.xml
        </param-value>
    </context-param>


    <!-- <resource-ref>
         <description>DB Connection</description>
         <res-ref-name>jdbc/mydbtest</res-ref-name>
         <res-type>javax.sql.DataSource</res-type>
         <res-auth>Container</res-auth>
     </resource-ref>-->

</web-app>
